@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

#app {
  margin: 0;
  font-family: 'Playpen Sans';
}

.flex-row {
  display: flex;
  width: 100%;
  align-items: stretch;
}
