.App {
  margin: 15px 25px 25px 30px;
}

.App-header h1{
  display: inline;
}

.App-header p{
  display: inline;
  float: right;
}

.dashboard{
  text-align: center;

}

.dashboard_g{
  border: black;
  border-style: solid;
}
